svg {
  background-color: #FFF;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

svg:not(.active):not(.ctrl) {
  cursor: crosshair;
}

path.link {
  fill: none;
  stroke: #000;
  stroke-width: 4px;
  cursor: default;
    d: "M10 10 C 20 20, 40 20, 50 10";
}

svg:not(.active):not(.ctrl) path.link {
  cursor: pointer;
}

path.link.selected {
  stroke-dasharray: 10,2;
}

path.link.dragline {
  pointer-events: none;
}

path.link.hidden {
  stroke-width: 0;
}

circle.node {
  stroke-width: 1.5px;
  cursor: pointer;
}

circle.node.reflexive {
  stroke: #000 !important;
  stroke-width: 2.5px;
}

text {
  font: 12px sans-serif;
  pointer-events: none;
}

text.id {
  text-anchor: middle;
  font-weight: bold;
}

#mynetwork {
    border: 1px solid gray;
    padding: 20px;
    width: 900px;
    height: 500px;
    top: 40px;
    left: 10px;
    position: absolute;
    overflow: scroll;
}

#cbxs {

    padding: 20px;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0px;
    right: 0px;
    overflow: scroll;
}
